<footer class="page-footer font-small green">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a>Ricardo Wojciechowski</a>
    </div>
    <!-- Copyright -->
</footer>