<%- include('header') %>

<div class="main">
    <form method="GET" action="/cotacao">
        <select id="cash" name="cotacao">
            <option value="USD-BRL" selected>Dólar</option>
            <option value="EUR-BRL">Euro</option>
            <option value="JPY-BRL">Iene</option>
            <option value="ARS-BRL">Peso</option>
            <option value="GBP-BRL">Libra</option>
        </select>
        <label for="quantidade"></label>
        <input name="quantidade" type="text" placeholder="Informe o valor"
            onkeypress="return somenteNumeros(event)"><br>
        <button>Converter</button>
    </form>
</div>

<%- include('footer') %>